{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <style>
      .navbar-brand {
         font-weight: bold;
      }












    </style>
    <!--    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">
            <ya-tr-span data-index="41-0" data-translated="false" data-source-lang="en" data-target-lang="ru"
                        data-value="Navbar" data-translation="Панель навигации" data-ch="0" data-type="trSpan">
                FACETOOK
            </ya-tr-span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">
                        <ya-tr-span data-index="43-0" data-translated="false" data-source-lang="en"
                                    data-target-lang="ru" data-value="Features" data-translation="Характеристики"
                                    data-ch="0" data-type="trSpan">Контакты
                        </ya-tr-span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="true">
                        <ya-tr-span data-index="46-0" data-translated="false" data-source-lang="en"
                                    data-target-lang="ru" data-value="Dropdown" data-translation="Выпадающий список"
                                    data-ch="0" data-type="trSpan">Выпадающий список
                        </ya-tr-span>
                    </a>
                    <div class="dropdown-menu " data-bs-popper="static">
                        <a class="dropdown-item btn-primary" href="#">
                            <ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Action" data-translation="Экшен"
                                        data-ch="0"
                                        data-type="trSpan">Что-нибудь
                            </ya-tr-span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Another action"
                                        data-translation="Еще одно действие" data-ch="0" data-type="trSpan">Еще
                                что-нибудь
                            </ya-tr-span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Something else here"
                                        data-translation="Здесь что-то еще" data-ch="0" data-type="trSpan">Такая же
                                фигня
                            </ya-tr-span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn btn-outline-success" href="#">
                            <ya-tr-span data-index="145-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Separated link"
                                        data-translation="Разделенная ссылка" data-ch="0" data-type="trSpan">Ну, а
                                здесь
                                выпендрились
                            </ya-tr-span>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'base2' %}">
                        <ya-tr-span data-index="43-0" data-translated="false" data-source-lang="en"
                                    data-target-lang="ru" data-value="Features" data-translation="Характеристики"
                                    data-ch="0" data-type="trSpan">base2
                        </ya-tr-span>
                    </a>
                </li>
            </ul>

            {% if not user.is_authenticated %}
            <a href="{% url 'reg' %}">
                <button class="btn btn-outline-warning">Регистрация</button>
            </a>
            <a href="{% url 'user' %}" class="px-2">
                <button class="btn btn-outline-info">Войти</button>
            </a>
            {% else %}
            <img src="{{ user.profile.img.url }}" alt="{{ username }}'s profile picture" class="user_images">
            <div class="btn-group" role="group" aria-label="Группа кнопок с вложенным выпадающим списком">

                <div class="btn-group" role="group">

                    <button id="btnGroupDrop4" type="button" class="btn btn-info dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="font-size: 1.2em;">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <a class="dropdown-item" href="{% url 'news-add' %}">
                            <ya-tr-span data-index="73-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Dropdown link"
                                        data-translation="Выпадающая ссылка" data-ch="1" data-type="trSpan">Добавить
                                статью
                            </ya-tr-span>
                        </a>
                        <a class="dropdown-item" href="{% url 'profile' %}">
                            <ya-tr-span data-index="74-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Dropdown link"
                                        data-translation="Выпадающая ссылка" data-ch="1" data-type="trSpan">
                                Редактировать профиль
                            </ya-tr-span>
                        </a>
                        <a class="dropdown-item" href="{% url 'exit' %}">
                            <ya-tr-span data-index="74-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Dropdown link"
                                        data-translation="Выпадающая ссылка" data-ch="1" data-type="trSpan">Выход
                            </ya-tr-span>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for mess in messages %}
            <div class="alert alert-success">{{ mess }}</div>
            {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>

        <div class="col-md-4">
            {% block sidebar %}
            <aside>
                <h3>Интересные статьи</h3>
                <div class="card mb-3">
                    <h3 class="card-header">
                        <ya-tr-span data-index="114-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru"
                                    data-value="Card header" data-translation="Заголовок карты" data-ch="0"
                                    data-type="trSpan">Игры на Python
                        </ya-tr-span>
                    </h3>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">
                            <ya-tr-span data-index="116-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Support card subtitle"
                                        data-translation="Поддержка субтитров на карточке" data-ch="0"
                                        data-type="trSpan"
                                        data-selected="false">Поблагодарим за это нашу любимую библиотеку Pygame!
                            </ya-tr-span>
                        </h6>
                    </div>
                    <img src="http://itproger.com/img/news/1589893627.jpg" class="img-thumbnail ">
                    <div class="card-body">
                        <p class="card-text">
                            <ya-tr-span data-index="91-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru"
                                        data-value="Some quick example text to build on the card title and make up the bulk of the card's content."
                                        data-translation="Несколько кратких примеров текста для создания заголовка карточки и создания основной части содержимого карточки."
                                        data-ch="1" data-type="trSpan">Уже не первый раз слышно, что кто то сделал игру
                                на
                                Python. Мне как начинающему программисту стало интересно, как же такое возмонжо. Я же
                                знаком
                                только с мельчайшим кусочком всего языка. Так давайте это узнаем!
                            </ya-tr-span>
                        </p>
                    </div>
                    <div class="card-body">
                        <a href="http://itproger.com/news/285" target="_blank">
                            <button class="btn btn-warning">Посмотреть</button>
                        </a>
                    </div>
                </div>
                <div class="card mb-3">
                    <h3 class="card-header">
                        <ya-tr-span data-index="114-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru"
                                    data-value="Card header" data-translation="Заголовок карты" data-ch="0"
                                    data-type="trSpan">Инновационный движок GODOT
                        </ya-tr-span>
                    </h3>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">
                            <ya-tr-span data-index="116-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Support card subtitle"
                                        data-translation="Поддержка субтитров на карточке" data-ch="0"
                                        data-type="trSpan"
                                        data-selected="false">Давайте, наконец разберемся, что это за зверь такой!
                            </ya-tr-span>
                        </h6>
                    </div>
                    <img src="http://itproger.com/img/news/1591879929.jpg" class="img-thumbnail ">
                    <div class="card-body">
                        <p class="card-text">
                            <ya-tr-span data-index="91-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru"
                                        data-value="Some quick example text to build on the card title and make up the bulk of the card's content."
                                        data-translation="Несколько кратких примеров текста для создания заголовка карточки и создания основной части содержимого карточки."
                                        data-ch="1" data-type="trSpan">Уже не первый год слышно много про движок годот.
                                Он
                                стал очень привлекательным обновлением для наших геймдизайнеров, разработчиков, в общем
                                всей
                                наших специалистов.
                            </ya-tr-span>
                        </p>
                    </div>
                    <div class="card-body">
                        <a href="http://itproger.com/news/285" target="_blank">
                            <button class="btn btn-warning">Посмотреть</button>
                        </a>
                    </div>
                </div>

            </aside>
            {% endblock %}
        </div>
    </div>
</div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Прикол</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Выходи</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">За</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Меня</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Замуж</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Я</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Же</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Черт его дери</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Разработчик</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">На</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Python-Django</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Мать</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Моя</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Женщина</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Извините</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">За мой</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Французкий</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>
