{% extends 'blog/base.html' %}

{%block title%}
{{ title }}
{% endblock %}

{%block content%}
<div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="button" style="margin-bottom: 15px">
        <ya-tr-span data-index="301-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value="Block button" data-translation="Кнопка блокировки" data-ch="0" data-type="trSpan">
            {{ title }}
        </ya-tr-span>
    </button>
</div>
<!--<h1>{{ title }}</h1>-->
<div class="alert alert-dismissible alert-primary">
    <form method="post" class="form-register auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">{{ btn_text }}</button>

    </form>
</div>



{% endblock %}

{% block sidebar %}
<!-- Ваш sidebar без aside -->
{% endblock %}


