{% extends 'blog/base.html' %}

{%block title%}
{{ title }}
{% endblock %}

{%block content%}

<h4>Поздравляем вы на каким то образом оказались на этом сайте, не волнуйтесь. После удаления статей такое всегда на нашем сайте. Просто нажмите на надпись "FACETOOK",
которая, как удачно, находится в верхнем левом углу, да-да, посмотрите внимательнее, она там!</h4>
<p>На сомом деле такого не должно быть, но все же, не без греха, мы тут все эти дела делаем</p>
<p>Для разнообразия можете посмотреть, что находится снизу</p>
{% endblock %}

{% block sidebar %}
{% endblock %}



